<!DOCTYPE html>
<html>
<head>

    <title>Student Performance Predictor</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <h1>🎓 Student Performance Predictor</h1>

    <form action="/predict" method="POST">

        <input type="number"
               name="study_hours"
               placeholder="Study Hours"
               required>

        <input type="number"
               name="attendance"
               placeholder="Attendance %"
               required>

        <button type="submit">
            Predict Score
        </button>

    </form>

    {% if prediction %}

    <div class="result">

        <h2>
            Predicted Score: {{ prediction }}
        </h2>

    </div>

    {% endif %}

</div>

</body>
</html>
